* {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*seccion flex*/

[class^="container-flex-"] {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.container-flex-column {
    justify-content: center;
}

.container-flex-colu {
    justify-content: space-around;
}

.flex-item {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/*style*/

.vh100 {
    height: 100vh;
}

.logo {
    width: 25%;
}

.px100{
    height: 100px;
}

.logo_2 {
    width: 30%;
    align-self: flex-end;
    margin-right: 40px;
}

.logo_1 {
    width: 53%;
}

.bienvenida, .btn-success {
    background: linear-gradient(to bottom right, #530060, #e19);
}

.bienvenida2 {
    background-image: url('../assets/images/citylarge.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

/*ventana signup*/
#signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btnsignup, #test {
    align-self: flex-start;
}

.dropdownsignup {
    display: flex;
    justify-content: space-around;
}









/*ventana register*/
#register {
    background: #000;
    color: white;
}

.gemelos {
    display: flex;
    justify-content: space-around;
    width: 157px;
}

@media (min-width: 1280px) {
    .logo_2 {
        width: 20%;
        align-self: flex-end;
        margin-right: 465px;
    }
    .logo_1 {
        width: 10%;
    }
}