<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lift-New</title>
    <link rel="icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="grad70 vh100">
    <section id="splash" class="container-flex-column vh100 bienvenida">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-12 flex-item ">
                    <img src="../assets/images/logo-white.png" class="img-responsive logo" alt="logo">
                    <img src="../assets/images/check.png" class="img-responsive logo" style="background: white" alt="logo">
                </div>
            </div>
    </section>

    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
</body>

</html>