<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lift-New-signup</title>
    <link rel="icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <section id="register" class="grad70 vh100 ">

        <form class="container-flex-column text-center vh100">
            <img src="../assets/images/lift.gif" class="img-responsive " alt="logo">
            <h1>Sing Up</h1>
            <div class="form-group">
                <label for="text"></label>
                <input type="text" class="form-control" id="laboratoria" placeholder="First Name         Last Name">
            </div>

            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="laboratoria" placeholder="Email">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <br>
            <br>

            <div class="btndoblue">
                <a href="verifique.html" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </a>

                <a href="finish.html" id="" class="btn btn-small ">SignUp</a>
            </div>
        </form>
    </section>

    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>