<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header class="container-flex-column headersignup">
        <a href="signup.html" type="button" class="btn btn-success btnsignup">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
        <h1>Sing Up</h1>
        <h3>Join now for free ride credit</h3>
    </header>
    <section id="signup" class="grad70 vh100 ">

        <div class="container-fluid ">

            <div class="row container-flex">
                <div>
                <strong>LAB --</strong>
                <input type="text" id="test1" value="" placeholder="__ __ __"></div>
               
                <br>
                <p>Enter the code sent to +52</p>
                <a href="" id="btndisabled" class="btn btn-large " role="buton">RESEND CODE</a>
            </div>
        </div>

        <div class="flex-item">
            <picture>
                <img src="../assets/images/lift.gif" class="img-responsive px100" alt="logo">
            </picture>
        </div>
        <a href="" id="btndisabled1" class="btn btn-default disabled" role="buton">Next</a>


    </section>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>